<div class="view-room-component">
    Cards for estimate
    <ul>
        <li *ngFor="let card of roomInfo.cards">
            #{{ card.number }}: {{ card.name }}
        </li>
    </ul>

    Users
    <ul>
        <li *ngFor="let participant of roomInfo.participants">
            {{ participant.name }} {{ participant.currentVote }}
        </li>
    </ul>

    Vote
    <ul>
        <li *ngFor="let option of estimateOptions">
            <button (click)="vote(option.value)">{{ option.display }}</button>
        </li>
    </ul>

    <div class="admin-tools" *ngIf="isAdmin">
        <button (click)="updateRoom()">Refresh Cards</button>
    </div>
</div>