<div class="header-container">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/assets/logo.png" height="100"/>
            </a>
        </div>
        <div class="name-container" (click)="startEdit()">
            <span class="glyphicon glyphicon-user"></span>
            <span *ngIf="!isEditingName">{{ name }}</span>
            <span *ngIf="isEditingName"><input type="textbox" [(ngModel)]="name" (change)="saveName()" (keydown)="keydown($event)"/></span>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>