
.header-container {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d2cd;
    height: 60px;
}

.logo-container {
    float: left;
}

.logo-img {
    height: 60px;
}

.name-container {
    padding: 1em 0;
    float: right;
    font-size: 1.4em;
    cursor: pointer;
}

.content-container {
    padding-top: 1em;
    width: 100%;
}